[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
e1839a8 = {path = ".",editable = true}

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
hypothesis = "*"
xvfbwrapper = {version = "*",sys_platform = "== 'linux'"}
black = "==18.9b0"
